card{
    height: 500px;
    overflow: scroll;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 8px 8px 8px 5px rgba(128, 128, 128, 0.356);
}
.card::-webkit-scrollbar {
    width: 1em;
  }

